header {
    background-color: $backgound-light;
    height: $header-height;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    nav {
        max-width: $site-width;
        padding: 0 $layout-padding;
        margin: auto;
        display: flex;
        position: relative;
        height: $header-height;

        .dev1 {
            height: $header-height;
            padding: 8px 0;
        }
        .buscador{
            margin-top: 8px;
           width: 400px;
           border-radius: 5px;
          
            
           input{
                height:40px;
                border-radius: 5px;
                width: 400px;
                position: absolute;
                            
            } 
             a {
                    img {
                        height: 30px;
                        position: relative;
                        margin-left: 360px;
                        margin-top: 2px;
                        z-index: 5;
                        
                       }
                }
        }
        .container{
       display: flex;
        margin-left: 10px;
        width: 80%;
        height: $header-height;
        
      
       
        .logCreat{
           margin-left: 70%;
           border-radius: 10px;
            width:fit-content;
            justify-content: center;
            
            .uno{
                 color:black;
                  
                }
            .uno:hover{
                text-decoration:underline;
                color: rgb(59, 73, 223);
            }            
            a{
               border-radius: 10px;
               text-decoration: none;
               padding: 5px;
                
                 }
              button{
                    border-radius: 10px;
                    padding: 15px;
                    border-color: rgb(59, 73, 223);
                    font-size: 15px;
                    }
                    button:hover{
                        color:white;
                        background-color:rgb(59, 73, 223);
                        text-decoration: underline;
                        a{
                            color: white;
                        }
                    }
        } }
    }

}


